body {
    width: 98%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: rgb(209,171,235);
    background: linear-gradient(90deg, rgba(209,171,235,1) 0%, rgba(238,174,202,1) 50%, rgba(148,187,233,1) 100%);
    padding: 20px;
}

header {
    width: 90%;
    height: fit-content;
    text-align: center;
    margin-bottom: 20px;
}

.Container {
    width: 94%;
    height: fit-content;
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section {
    /* border: 1px solid yellow; */
    width: 45%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    /* border: 1px solid black; */
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    width: 70%;
    float: left;
    /* border: 1px solid red; */
}

input {
    padding: 8px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    width: fit-content;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #218838;
}

.sectionTable {
    /* border: 1px solid yellow; */
    width: 45%;
    height: fit-content;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #e6e6e640;
}
.deleteBtn{
    padding: 10px;
    width: fit-content;
    background-color: #f35853;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.deleteBtn:hover {
    background-color: #a12813;
}